<div class="container" id="mentoring">

  {{ .Content }}

  <div class="row">
    <div class="col-md-12" id="blog-listing-medium">

      <ol>
        {{ range $index, $element := sort .Site.Data.mentorings "weight" }}
        <li>

          {{ if .title }}
          <h4>{{ $element.title | markdownify }}</h4>
          {{ end }}

          <ul class="fa-ul">

            {{ if .student }}
            <li><i class="fa fa-li fa-user"></i> {{ $element.student | markdownify}} </li>
            {{ end }}

            {{ if .students }}
            <li><i class="fa fa-li fa-users"></i> {{ $element.students | markdownify}} </li>
            {{ end }}

            {{ if .course }}
            <li><i class="fa fa-li fa-graduation-cap"></i> {{ $element.course | markdownify }} </li>
            {{ end }}

            {{ if .schoolarship }}
            <li><i class="fa fa-li fa-trophy"></i> {{ $element.schoolarship | markdownify }} </li>
            {{ end }}

            {{ if .project }}
            <li><i class="fa fa-li fa-briefcase"></i> {{ $element.project | markdownify }} </li>
            {{ end }}

            {{ if .institution }}
            <li><i class="fa fa-li fa-university"></i> {{ $element.institution | markdownify }} </li>
            {{ end }}

            {{ if .period }}
            <li><i class="fa fa-li fa-calendar-o"></i> {{ $element.period }}</li>
            {{ end }}

            {{ if .files }}
            <li><i class="fa fa-li fa-file"></i> {{ $element.files | markdownify }}</li>
            {{ end }}

            {{ if .repositories }}
            <li><i class="fa fa-li fa-git-square"></i> {{ $element.repositories | markdownify }}</li>
            {{ end }}

            {{ if .status }}
            <li><i class="fa fa-li fa-check-square"></i> {{ $element.status | markdownify }}</li>
            {{ end }}

            {{ if .description }}
            <li><i class="fa fa-li fa-align-left"></i>
              <p class="intro">{{ $element.description | markdownify }}</p>
            </li>
            {{ end }}
          </ul>

        </li>
        {{ end }}
      </ol>

    </div>
  </div>

</div>
